# Node modules
node_modules/

# Build output directories
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Optional: Coverage reports
coverage/

# OS-specific files
.DS_Store        # macOS
Thumbs.db        # Windows

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.js